*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-width: 1600px;
  margin: 0px;
}
:root {
  --main-color: #212121;
  --sec-color: #757575;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.button {
  border: 0;
  cursor: pointer;
}
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.head-logo {
  margin-right: 93px;
}
/* Стили Шапки */
.header {
  height: 80px;
  margin-bottom: 0px;
  padding-top: 24px;
  border: 1px solid rgba(236, 236, 236, 1);
}
.head-box {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 215px;
  height: 31px;
}
/* Шапка Логотип */
.logo-head-studio {
  color: #000000;
}
/* Шапка Навигация */
.header-nav-list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav-item:last-child {
  margin-right: 0px;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-nav-link:hover {
  color: #2196f3;
}
.header-nav-link:focus {
  color: #2196f3;
}
/* Шапка Контакты */
.header-contacts {
  display: flex;
  padding: 0px;
  margin-left: 331px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--sec-color);
}
.contacts-link:hover {
  color: #2196f3;
}
.contacts-link:focus {
  color: #2196f3;
}
/* Стили главной страницы */
/* Заказать услугу */
.hero {
  background-color: #2f303a;
  padding: 200px 452px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Почему мы */
.whyme {
  margin: 94px 215px;
}
.whyme-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.whyme-item {
  width: 270px;
}
.whyme-item:not(:last-child) {
  margin-right: 30px;
}
.whyme-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.whyme-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Чем занимаемся */
.whatdo {
  margin: 94px 215px;
}
.whatdo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.whatdo-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.whatdo-item:not(:last-child) {
  margin-right: 30px;
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
  padding: 94px 215px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.team-item {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Стили Портфолио */
.portf-main {
}
/* Портфолио фильтр */
.portf-filter-list {
}
.portf-filter-item {
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.filter-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Портфолио проекты */
.portf-projrct-list {
}
.portf-project-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portf-project-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portf-project-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Стили Подвала */
.footer {
  height: 252px;
  padding-left: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #2f303a;
}
/* Подвал логотип цвет */
.logo-foot-studio {
  color: #ffffff;
}
/* Подвал адрес и контакты */
.adress-list {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
}
.adress-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  color: #ffffff;
}
.address-cont {
  color: rgba(255, 255, 255, 0.6);
}
