body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-color: #212121;
  --sec-color: #757575;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.button {
  border: 0;
  cursor: pointer;
}
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* Стили Шапки */
.header {
}
.head-list {
}
/* Шапка Логотип */
.logo-head-studio {
  color: #000000;
}
/* Шапка Навигация */
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-nav-link:hover {
  color: #2196f3;
}
.header-nav-link:focus {
  color: #2196f3;
}
/* Шапка Контакты */
.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--sec-color);
}
.contacts-item:hover {
  color: #2196f3;
}
.contacts-item:focus {
  color: #2196f3;
}
/* Стили главной страницы */
/* Заказать услугу */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Почему мы */
.whyme {
}
.whyme-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.whyme-item {
}
.whyme-item-title {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
.whyme-text {
}
/* Чем занимаемся */
.whatdo {
}
.whatdo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.whatdo-item {
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Стили Портфолио */
.portf-main {
}
/* Портфолио фильтр */
.portf-filter-list {
}
.portf-filter-item {
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.filter-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Портфолио проекты */
.portf-projrct-list {
}
.portf-project-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portf-project-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portf-project-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Стили Подвала */
.footer {
  background-color: #2f303a;
}
/* Подвал логотип цвет */
.logo-foot-studio {
  color: #ffffff;
}
/* Подвал адрес и контакты */
.address-map {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
.address-cont {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
